#pillu-clicked {
  display: none;
}

#congrats-message {
    color: blue;
  }

  #celebration {
    display: none;
  }

  .has-theme-border {
    border-style: solid;
    border-width: 4px;
    border-color: red;
  }

  .has-courtesy-border {
    border-style: solid;
    border-width: 4px;
    border-color: green;
  }